<a href="https://colab.research.google.com/github/ShiviRaghu/Python_notes_boss/blob/notes/Class3_ctrlflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Fundamentals 1

**Agenda**

**Flow Control**
- **Conditional Statements**
  - if Statement
  - elif Statement
  - else Statement
- Examples Based on Conditional Statements

##**Flow Control**

Flow control in Python is an essential concept that governs the order in which statements are executed. It allows you to manage the flow of your program's execution, making decisions, iterating over data, and handling exceptions.

- Flow control in Python refers to the sequence in which statements are executed or controlled within a program.

- It allows programmers to dictate the order of execution based on certain conditions or loops.

Python offers three fundamental types of flow control:
- **Conditional Statements:** Control the flow of execution based on specific conditions

- **Transfer Statements** -  Alter the flow of execution by transferring control from one part of the program to another

- **Iterative Statements** - Allow the execution of a block of code repeatedly.

![image.png]()

## 1.Conditional Statements

- Conditional statements allow your program to make decisions based on certain conditions.
- Python supports if, elif, and else statements for this purpose.

###**1.1 if Statement**

- The if statement evaluates a condition and executes a block of code if the condition is True.

Syntax

```
if condition:
    # code to execute if condition is True
```

Example

In [ ]:
age = 18
if age >= 18:
    print("You are eligible to vote.")

a =10
if a>0:
  print("+ve number")

You are eligible to vote.
+ve number
1 0
2 0
2 1

In [ ]:
num = int(input("enter number to find +ve/-ve/0 =  "))
if num>0:
  print("number is positive")
print("outside if")

enter number to find +ve/-ve/0 =  123
number is positive
outside if

In [ ]:
def GCD(A, B):

  if B == 0:
    return A
  else:
    return GCD(B, A % B)

  print(GCD(48,18))

###**1.2 elif Statement**

- The elif (else if) statement allows you to check multiple conditions.
- If the preceding if condition is False, the program checks the next elif condition.

Syntax

```
if condition1:
    # code to execute if condition1 is True
elif condition2:
    # code to execute if condition2 is True
```

Example

In [ ]:
marks = int(input("marks : "))
if marks>=90:
    print("Grade: A")
elif marks>=80:
  print("Grade: b")
elif marks>=70:
  print("Grade: c")
else:
  print

marks : 75
Grade: c

In [ ]:
num = int(input("enter number to find +ve/-ve/0 "))
if num==0:
  print("number is zero")
elif num>0:
  print("number is positive")
elif num<0:
  print("number is negative")
print("outside if")

enter number to find +ve/-ve/0 0
number is zero
outside if

In [ ]:
name = input("enter ur name ? ")
if name == "shivi":
  print("correct name")
elif name =="abha":
  print("frnds name")
else :
  print("unknown")

enter ur name ? abha
frnds name

### **1.3 else Statement**

- The else statement executes a block of code if none of the preceding conditions are True.

Syntax

```
if condition1:
    # code to execute if condition1 is True
elif condition2:
    # code to execute if condition2 is True
else:
    # code to execute if both condition1 and condition2 are False
```

Example

In [ ]:
temperature = float(input("enter temperature ? "))
if temperature > 30:
    print("It's a hot day.")
elif temperature < 10:
    print("It's a cold day.")
else:
    print("It's a pleasant day.")

enter temperature ? 29.9
It's a pleasant day.

## Examples Based of Conditional Statements

Check if entered number is greater than 0 or not.

In [ ]:
num = float(input ("enter number : "))
if num >=0:
  print(f"{num} is a positive number")
else:
  print(f"{num} is a negative number")

enter number : -0.99999
-0.99999 is a negative number

In [ ]:
number = int(input('Enter a number: '))

# check if number is greater than 0
if number > 0:
    print(f'{number} is a positive number.')
print('A statement outside the if statement.')

Enter a number: -90
A statement outside the if statement.

### Example: Python if Statement

Give x and total if x is not equal to 0 then add x in total and then print total.

### Python if...else Statement

In [ ]:
x = int(input("enter value of x : "))
total =0
if x!=0:
  total +=x
  print(f"total = {total}")
else :
  print(f"total = {total}")

enter value of x : -9000
-9000

In [ ]:
x = 1
total = 0

# start of the if statement
if x != 0:
    total += x
    print(total)
# end of the if statement

print("This is always executed.")

1
This is always executed.

### Python if…elif…else Statement

Check if entered number is Positive, negative or zero.

In [ ]:
number = -5

if number > 0:
    print('Positive number')

elif number < 0:
    print('Negative number')

else:
    print('Zero')

print('This statement is always executed')

Negative number
This statement is always executed

### Python Nested if Statements

Check if entered number is Positive, negative or zero.

In [ ]:
number = float(input('Enter a number: '))

if number>=0:
  if number ==0:
    print("its equal to zero")
  else:
    print("its a positive number")
else:
  print("its a negative number")

Enter a number: 0.000
its equal to zero

### Example: Finding the Largest of Three Numbers

This example demonstrates the use of nested if-else statements to determine the largest of three given numbers. This is useful in scenarios where comparisons between multiple variables are required.

In [ ]:
 #Taking three numbers as input from the user
a = float(input("Enter the first number: "))
b = float(input("Enter the second number: "))
c = float(input("Enter the third number: "))

if a>=b and b>=c:
  print(f"{a} is largest")
elif b>=a and b>=c:
  print(f"{b} is largest")
else :
  print(f"{c} is largest")

Enter the first number: 10
Enter the second number: 20
Enter the third number: 20
20.0 is largest

In [ ]:
# Taking three numbers as input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))




if num1 >= num2:
    if num1 >= num3:
        largest = num1
        print(f"1: {largest}")
    else:
        largest = num3
        print(f"3: {largest}")
else:
    if num2 >= num3:
        largest = num2
        print(f"2: {largest}")
    else:
        largest = num3
        print(f"3: {largest}")

print(f"The largest number is {largest}")

Enter the first number: 100
Enter the second number: -120
Enter the third number: 120
3: 120.0
The largest number is 120.0

### Example: Grading System

This example shows how to implement a grading system using if-elif-else statements. Based on the marks obtained, the program assigns a grade to the student.

In [ ]:
# Taking the marks as input from the user
marks = float(input("Enter the marks: "))

# Assigning grades based on the marks
if marks >= 90:
    grade = 'A'
elif marks >= 80:
    grade = 'B'
elif marks >= 70:
    grade = 'C'
elif marks >= 60:
    grade = 'D'
elif marks >= 50:
    grade = 'E'
else:
    grade = 'F'

print(f'Your grade is {grade}')

Enter the marks: 98.090
Your grade is A

### Example: Check Leap Year

- This example illustrates the use of if-elif-else statements to check if a given year is a leap year.
- A leap year is exactly divisible by 4 except for years that are exactly divisible by 100.
- The centurial years are leap years only if they are exactly divisible by 400.

In [ ]:
year =int(input("enter year to find leap year: "))

if year %4==0:
  if year %100==0:
    if year%400==0:
      print(f"its a leap year {year}")
    else:
      print(f"its not a leap year {year}")
  else:
    print(f"its a leap year {year}")
else:
  print(f"its not a leap year {year}")

enter year to find leap year: 360
its a leap year 360

In [ ]:
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"its a leap year {year}")
else:
    print(f"its not a leap year {year}")

its a leap year 360

### Example: Menu-Driven Program for Simple Calculator

- This example presents a menu-driven program that performs basic arithmetic operations (addition, subtraction, multiplication, and division) based on the user's choice.
- It demonstrates the practical use of if-elif-else statements in creating interactive programs.

In [ ]:
# Displaying the menu
print("Simple Calculator")
print("1. Addition")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division")

# Taking the user's choice
choice = int(input("Enter your choice (1-4): "))

# Taking two numbers as input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Performing the corresponding arithmetic operation
if choice == 1:
    result = num1 + num2
    operation = "Addition"
elif choice == 2:
    result = num1 - num2
    operation = "Subtraction"
elif choice == 3:
    result = num1 * num2
    operation = "Multiplication"
elif choice == 4:
    if num2 != 0:
        result = num1 / num2
        operation = "Division"
    else:
        result = "undefined (division by zero)"
        operation = "Division"
else:
    result = "Invalid choice"
    operation = "None"

print(f'The result of the {operation} is {result}')

Simple Calculator
1. Addition
2. Subtraction
3. Multiplication
4. Division
Enter your choice (1-4): 4
Enter the first number: 10
Enter the second number: 0

ZeroDivisionError: float division by zero

##QUESTIONS

1. take 2 numbers are find which is the greater one
2. Check if a person is eligible to donate blood. A person must be older than 18 and weigh more than 50 kg to be eligible.
3. Write a program to check if a number is positive, negative, or zero. Additionally, if the number is positive, check if it is even or odd.
4. Write a program to check if a number x = 45 lies within these ranges:
0 to 20: Print "Low range"
21 to 50: Print "Medium range"
Above 50: Print "High range"
5. Write a program to categorize a person’s BMI (Body Mass Index) based on the following:
BMI < 18.5: "Underweight"

In [1]:
a = int(input("enter value of a = "))
b = int(input("enter value of b = "))
if a>=b:
  if b==a:
    print(f"value of a is equals to b")
  else:
      print(f"value of a is greater than b --> {a} > {b}")
else:
  print(f"value of b is greater than a --> {a} > {b}")

enter value of a = 90
enter value of b = 900
value of b is greater than a --> 90 > 900

In [2]:
age = float(input("enter value of age = "))
weight = float(input("enter value of wt = "))
if age > 18:
  if weight > 50:
    print("eligible to donate blood")
  else:
    print("not eligible to donate blood")
else:
  print("not eligible to donate blood")


age = float(input("enter value of age = "))
weight = float(input("enter value of wt = "))
if (age > 18 and weight >= 50):
  print("eligible to donate blood")
else:
  print("not eligible to donate blood")

enter value of age = 19
enter value of wt = 27
not eligible to donate blood
enter value of age = 19
enter value of wt = 50
not eligible to donate blood

In [3]:
#Write a program to check if a number is positive, negative, or zero. Additionally, if the number is positive, check if it is even or odd.
a =int(input("value of a "))

if a>0:
  print("positive")
  if a%2==0:
    print("even")
  else :
    print("odd")
elif a==0:
  print("zero")
else:
  print("negative")

value of a 120
positive
even

In [ ]:
"""Write a program to check if a number x = 45
lies within these ranges: 0 to 20: Print "Low range" 21 to 50: Print "Medium range" Above 50: Print "High range"""

x =45
if x>=0 and x<=20:
  print("low range")
elif x>=21 and x<=50:
  print("medium range")
else:
  print("high range")

medium range

In [ ]:
## Write a program to categorize a person’s BMI (Body Mass Index) based on the following: BMI < 18.5: "Underweight"
''' BMI < 18.5: "Underweight"
18.5 <= BMI < 25: "Normal weight"
25 <= BMI < 30: "Overweight"
BMI >= 30: "Obesity" '''

BMI_input =float(input("value of bmi "))
if BMI_input<18.5:
  print("Underweight")
elif 18.5 <= BMI_input < 25:
  print("Normal weight")
elif 25 <= BMI_input < 30:
  print("Overweight")
elif BMI_input >=30 :
  print("Obesity")

value of bmi -90
Underweight

## using and or together

In [4]:
attendance = 90
assignment =70
sports = True
if attendance>=75 and assignment>=70:
 if sports:
  print("exam eligible and grace+10")
 else:
  print("exam  eligible with  no grace")
else :
  print("not eligible for exam")
print('outside if')

exam eligible and grace+10
outside if

In [ ]:
marks = 30
attend=80

if marks>55:
  if attend >75:
    print("pass and 1st div")
  else:
      print("pass but not 1st division")
else:
  print("fail")

#print("result not declared")

fail
result not declared

## class question

### 1.Write a program to calculate the average of three subjects' marks entered by the user. Print "Pass" if the average is >= 40, otherwise print "Fail."

In [ ]:
marks1 = float(input("enter mark for subject 1 = "))
marks2 = float(input("enter mark for subject 2 =  "))
marks3 = float(input("enter mark for subject 3 = "))
avg = (marks1+marks2+marks3)/3

if avg>=40:
  print(f"pass and average is {avg}")
else:
  print(f"fail and average is {avg}")

enter mark for subject 1 = 40
enter mark for subject 2 =  43
enter mark for subject 3 = 42
pass and average is 41.666666666666664

### 2. Write a program to take two numbers as input and print whether they are equal, the first is greater, or the second is greater.

In [ ]:
num1 = float(input("enter num1 = "))
num2 = float(input("enter num2 =  "))

if num1 ==num2:
  print(f"numbers are equal ")
elif num1>num2:
  print("num1 is greater")
else:
   print("num2 is greater")

enter num1 = 13
enter num2 =  12
num1 is greater

### 3.Ask the user to input a number. Print "Divisible by both 3 and 5" if true, otherwise print "Not divisible by both."

In [ ]:
num = float(input("enter num = "))
if num%5==0 and num%3==0:
  print("Divisible by both 3 and 5")
else:
  print("not Divisible by both 3 and 5")

enter num = 21
not Divisible by both 3 and 5

### 4.Take three angles of a triangle as input. Print "Valid triangle" if the sum is 180, otherwise print "Invalid triangle."

In [ ]:
num1 = float(input("enter mark for num 1 = "))
num2 = float(input("enter mark for num 2 =  "))
num3 = float(input("enter mark for num 3 = "))
sum = num1+num2+num3

if sum>=180:
  print("its a valid triangle")
else:
  print("its not a valid triangle")

enter mark for num 1 = 12
enter mark for num 2 =  90
enter mark for num 3 = 89
its a valid traingle

### 5.Take a number (1-7) as input and print the corresponding day of the week.

In [ ]:
day = int(input("enter day to find = "))

if day ==1:
  print("its monday")
elif day ==2:
  print("its tuesday")
elif day ==3:
  print("its wednesday")
elif day ==4:
  print("its thursday")
elif day ==5:
  print("its friday")
elif day ==6:
  print("its saturday")
elif day ==7:
  print("its sunday")
else:
  print("enter a valid day")

enter day to find = 9
enter a valid day

### 6.Calculate the electricity bill based on:
₹5/unit for the first 50 units
₹7/unit for the next 100 units (51-150)
₹10/unit beyond 150 units

In [6]:
units = int(input("Enter the number of units consumed: "))

if units <= 50:
  bill = units * 5
elif units <= 150:
  bill = (50 * 5) + ((units - 50) * 7)
else:
  bill = (50 * 5) + (100 * 7) + ((units - 150) * 10)

print("Total electricity bill: ₹", bill)

Enter the number of units consumed: 90
Total electricity bill: ₹ 530