<a href="https://colab.research.google.com/github/ShiviRaghu/boss/blob/practice/class2_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AGENDA
1. Variable Case senstivity [clear]
2. Reserved words in Python [clear]
3. Multi assignment of variables [clear]
4. User input [clear]
5. type casting | type conversion [Doubt at the end]
6. Memory block []
7. Operators
  - Logical
  - Equality
  - Comparision
  - Arthimatic
  - Bitwise [Advance classes]
  - Operators for sets and dictionary [Advance classes]

8. String methods

## Variable Case senstivite
case sensitive ten and Ten are different

In [1]:
Ten =10
ten=20
print(ten)
print(Ten)

20
10

In [5]:
import keyword
reserved_words = keyword.kwlist
print(reserved_words)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Reserved words in Python

https://docs.python.org/2.5/ref/keywords.html

1. We should not use reserved words as variable names
2. Also python doesn't restrict the user to use reserved keywords as variable names

and       del       from      not       while    
as        elif      global    or        with     
assert    else      if        pass      yield    
break     except    import    print              
class     exec      in        raise              
continue  finally   is        return             
 def       for       lambda    try

In [ ]:
print = "hi"
type(print)
##print(print)

#print("hi")

str

In [ ]:
del print  ##del --to retrieve print or use restart

## Multi assignment of variables

In [7]:
a,b,c,d = 's',12.3,"adsd"
print(type (a))
print(type(d))

ValueError: not enough values to unpack (expected 4, got 3)

In [8]:
a,b,c,d = 's',12.3,"adsd",-233
print(type (a))
print(type(d))

<class 'str'>
<class 'int'>

In [ ]:
type(b)

float

In [ ]:
type(c)

str

In [ ]:
print(a,b,c,d)

10 12.3 adsd True

In [ ]:
a=b=c=1312
a,b,c

(1312, 1312, 1312)

In [12]:
name,age,sex = 'shibi',23,'f'
print(f"""my name is {name} and
my age is {age} and
my gender is {sex}""")

my name is shibi and
my age is 23 and
my gender is f

In [10]:
name,city,age ="abha","agra",12
print(f"""my name is {name}
my age is {age}
my city is {city}""")

my name is abha
my age is 12
my city is agra

In [ ]:
class_name,date = "python",23
print(f"""class name is {class_name}
and date is {date}""")

class name is python
and date is 23

In [13]:
date,month,year = 23,12,2023
print(f"""
today's date is {date}
today's  month is {month}
today's  year is {year}
""")

today's date is 23
today's  month is 12
today's  year is 2023

In [ ]:
name,city,age =input("name : "),"agra",12
print(f"""my name is {name}
my age is {age}
my city is {city}""")

name : 124
my name is 124
my age is 12
my city is agra

In [14]:
a,a =10,12
print(a)
print(a)

12
12

## User input

user takes in form of string therefore we need to convert to int etc

In [15]:
date = input("enter today's date : ")
day = input("todays day : ")
print(f"today's date is {date} and day is {day}")

enter today's date : 2024-12-11
todays day : wed
today's date is 2024-12-11 and day is wed

In [ ]:
a ,b = input(" value of a = ") , input("value of b = ")
print(f"sum of a + b = {a + b}")
print(type(a),type(b))

 value of a = 233
value of b = shj
sum of a + b = 233shj
<class 'str'> <class 'str'>

In [19]:
name,offc,age = input("enter ur name : "),input("enter ur ofc address : "),input("enter ur age : ")
print (f"""my name is {name}
my ofc address is {offc}
my age is {age}""")

enter ur name : iok90
enter ur ofc address : 98^&(
enter ur age : 90opl;[]
my name is iok90
my ofc address is 98^&(
my age is 90opl;[]

## Explicit casting |type casting | type conversion

In [23]:
a = int(input ("enter num a "))
b = int(input("enter num b "))
print(type(a),type(b))
print (f"sum of num is {a+b}")

enter num a 10
enter num b 10.00

ValueError: invalid literal for int() with base 10: '10.00'

In [27]:
a = int(input("enter value of "))
type(a)

enter value of 00

int

In [28]:
a = float(input ("enter num a "))
b = int(input("enter num b "))
print(type(a),type(b))
print (f"sum of num is {a+b}")

enter num a 10.00
enter num b 90
<class 'float'> <class 'int'>
sum of num is 100.0

In [30]:
a = int(input("enter value of a = "))
b = int(input ("enter value of b = "))
print(f"sum of a + b = {a+b}")

enter value of a = 1
enter value of b = 2
sum of a + b = 3

### String ----> to integer, float====only numbers

In [ ]:
### String ----> to integer====only numbers
A = "100"
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 100
data type after: <class 'int'>, value of A: 100

In [ ]:
### String ----> to integer
A = "abc"
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: abc

ValueError: ignored

In [33]:
# String==in form of float to integer=====not possible
A = "50.23"
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50.23

ValueError: invalid literal for int() with base 10: '50.23'

### Float to integer
### integer to float
### integer/float to boolean
###integer to boolean===for zero value will give you false
###empty String to boolean=====false value

In [34]:
# Float to integer
A = 13.34234
print(f"data type before {type(A)}, value of a : {A} ")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before <class 'float'>, value of a : 13.34234
data type after: <class 'int'>, value of A: 13

In [35]:
# integer to float
A = 50
print(f"data type before: {type(A)}, value of A: {A}")
A = float(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 50
data type after: <class 'float'>, value of A: 50.0

In [37]:
# integer to boolean
A = 50.90
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'float'>, value of A: 50.9
data type after: <class 'bool'>, value of A: True

In [38]:
##integer to boolean===for zero value will give you false
A = 0.00
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'float'>, value of A: 0.0
data type after: <class 'bool'>, value of A: False

In [39]:
##integer to boolean
A = -7890
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: -7890
data type after: <class 'bool'>, value of A: True

In [40]:
##String to boolean
A = "ada"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: ada
data type after: <class 'bool'>, value of A: True

In [41]:
##String to boolean
A = "True"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: True
data type after: <class 'bool'>, value of A: True

In [42]:
##String to boolean
A = "123"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 123
data type after: <class 'bool'>, value of A: True

In [44]:
##empty String to boolean=====false value
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:
data type after: <class 'bool'>, value of A: False

In [ ]:
##empty String to int=====false value
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

NOTE: Converting any non zero number and string values into boolean will give True as an answer

NOTE: Empty string "" and 00 int will give False as an answer after converting from string to boolean

# ##float to int

In [45]:
##float to int
A = 1.234
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'float'>, value of A: 1.234
data type after: <class 'int'>, value of A: 1

In [ ]:
name,city,dob =input("name : "),input("city: "),input("dob: ")
age = 2023 - int(dob)
print(f"""my name is {name}
my city is {age}
my age is {city}
my current age is : {age} """)

name : shi
city: sfsd
dob: 1997
my name is shi
my city is 26
my age is sfsd
my current age is : 26

In [ ]:
a = input("value of a = ")
b = input ("value of b = ")
print(f"sum a + b =  {int(a) + int (b)}" )

value of a = 12
value of b = 123
sum a + b =  135

## memory block

In [ ]:
a =23
b =1324
c = 23
print(id(a))
print(id(b))
print(id(c))

140209328309168
140208900116400
140209328309168