<a href="https://colab.research.google.com/github/ShiviRaghu/boss/blob/practice/pract2_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Reserved words in Python
2. User input
3. type casting | type conversion
4. Memory block
5. Operators
6. Binary conversion

## Reserved words in Python

https://docs.python.org/2.5/ref/keywords.html

1. We should not use reserved words as variable names
2. Also python doesn't restrict the user to use reserved keywords as variable names

and       del       from      not       while    
as        elif      global    or        with     
assert    else      if        pass      yield    
break     except    import    print              
class     exec      in        raise              
continue  finally   is        return             
 def       for       lambda    try

In [ ]:
print = "hi"
type(print)
##print(print)

#print("hi")

str

In [ ]:
del print  ##del --to retrieve print or use restart

In [ ]:
import keyword
reserved_words = keyword.kwlist
print(reserved_words)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## User input

user takes in form of string therefore we need to convert to int etc

In [ ]:
date = input("enter today's date : ")
day = input("todays day : ")
print(f"today's date is {date} and day is {day}")

enter today's date : 2024-12-11
todays day : wed
today's date is 2024-12-11 and day is wed

In [ ]:
a ,b = input(" value of a = ") , input("value of b = ")
print(f"sum of a + b = {a + b}")
print(type(a),type(b))

 value of a = 233
value of b = shj
sum of a + b = 233shj
<class 'str'> <class 'str'>

In [ ]:
name,offc,age = input("enter ur name : "),input("enter ur ofc address : "),input("enter ur age : ")
print (f"""my name is {name}
my ofc address is {offc}
my age is {age}""")

enter ur name : iok90
enter ur ofc address : 98^&(
enter ur age : 90opl;[]
my name is iok90
my ofc address is 98^&(
my age is 90opl;[]

###**4. List**

In [10]:
# Example input: 1 2 3 4 5
user_input = input("Enter numbers separated by spaces: ")
list_values = user_input.split()  # Split the input string into a list of substrings
list_values = ([int(value) for value in list_values] )# Convert substrings to integers
print(type(list_values))
print("List of integers:", list_values)

Enter numbers separated by spaces: 1 2 2 2 3 45 333
<class 'list'>
List of integers: [1, 2, 2, 2, 3, 45, 333]

In [2]:
inp = input("enter comma seperated values : ")
list_val = inp.split(',')
list_val = [int (v) for v in list_val]
print(type(list_val))
print("List of integers:", list_val)

enter comma seperated values : 1,2,3,4,5
<class 'list'>
List of integers: [1, 2, 3, 4, 5]


### **5. Tuple**

In [4]:
# Example input: (10, 20, 30)
user_input = input("Enter a tuple of integers separated by commas: ")
tuple_values = user_input.split(',')  # split by comma
tuple_values = tuple(int(value) for value in tuple_values)  # Convert to tuple of integers
print("Tuple of integers:", tuple_values)

Enter a tuple of integers separated by commas: 7,9,10
Tuple of integers: (7, 9, 10)

### **6.Dictionary**

In [6]:
# Example input: {"name": "Alice", "age": 30}
import ast
user_input = input("Enter a dictionary: ")
dict_value = ast.literal_eval(user_input)  # Safely evaluate the string to a dictionary
print("Dictionary value:", dict_value)

Enter a dictionary: {"name": "Alice", "age": 30}
Dictionary value: {'name': 'Alice', 'age': 30}

###**7.Set**

In [9]:
# Example input: {1, 2, 3, 4, 5}
user_input = input("Enter a set of integers separated by commas: ")
set_values = set(map(int,user_input.split(',')))  # Remove braces, split by comma, convert to set
print("Set of integers:", set_values)

Enter a set of integers separated by commas: 1,2,4,4,4,4,48,9,9
Set of integers: {1, 2, 4, 9, 48}

In [12]:
user_input = input("Enter numbers separated by spaces: ")
list_values = user_input.split(',')  # Split the input string into a list of substrings
list_values = set(int(value) for value in list_values )# Convert substrings to integers
print(type(list_values))
print("List of integers:", list_values)

Enter numbers separated by spaces: 1,2,3,4,4,5,6,6
<class 'set'>
List of integers: {1, 2, 3, 4, 5, 6}

### **8. Frozen Set**

In [13]:
# Example input: frozenset([1, 2, 3])
user_input = input("Enter a frozenset of integers separated by commas: ")
frozen_set_values = frozenset(map(int, user_input.split(',')))  # Remove frozenset, convert to frozenset
print("Frozen set of integers:", frozen_set_values)

Enter a frozenset of integers separated by commas: 1,2,3,4,3,3,33,3
Frozen set of integers: frozenset({1, 2, 3, 4, 33})

### **9. Boolean**

In [19]:
user_input = input("Enter a boolean value (True/False): ")
boolean_value = user_input.strip() == 'True'  # Convert input to boolean
print("Boolean value:", boolean_value)

Enter a boolean value (True/False): xyz
Boolean value: False

### **10. None Type**

In [23]:
# Example input: None
user_input = input("Enter 'None': ")
none_value = None if user_input.strip() == 'None' else "not none"
print("None value:", none_value)

Enter 'None': xyz
None value: not none

## implict casting -
 occurs automatically when Python converts one data type to another without the need for explicit intervention by the user.

In [1]:
x = 5    # Integer
y = 3.0  # Float

result = x + y  # x is implicitly converted to float
print(result)   # Output: 8.0
print(type(result))  # Output: <class 'float'>

8.0
<class 'float'>

## Explicit casting |type casting | type conversion

**direct string in form of float to integer is not possible**

In [2]:
a = int(input ("enter num a "))
b = int(input("enter num b "))
print(type(a),type(b))
print (f"sum of num is {a+b}")

enter num a 12
enter num b 12
<class 'int'> <class 'int'>
sum of num is 24

In [3]:
a = int(input("enter value of "))
type(a)

enter value of 109

int

In [5]:
a = float(input ("enter num a "))
b = int(input("enter num b "))
print(type(a),type(b))
print (f"sum of num is {a+b}")

enter num a 12
enter num b 12.00

ValueError: invalid literal for int() with base 10: '12.00'

In [ ]:
a = int(input("enter value of a = "))
b = int(input ("enter value of b = "))
print(f"sum of a + b = {a+b}")

enter value of a = 1
enter value of b = 2
sum of a + b = 3

### String ----> to integer, float====only numbers

In [ ]:
### String ----> to integer====only numbers
A = "100"
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 100
data type after: <class 'int'>, value of A: 100

In [ ]:
### String ----> to integer
A = "abc"
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: abc

ValueError: ignored

In [ ]:
# String==in form of float to integer=====not possible
A = "50.23"
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50.23

ValueError: invalid literal for int() with base 10: '50.23'

### Float to integer
### integer to float
### integer/float to boolean
###integer to boolean===for zero value will give you false
###empty String to boolean=====false value

In [ ]:
# Float to integer
A = 13.34234
print(f"data type before {type(A)}, value of a : {A} ")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before <class 'float'>, value of a : 13.34234
data type after: <class 'int'>, value of A: 13

In [ ]:
# integer to float
A = 50
print(f"data type before: {type(A)}, value of A: {A}")
A = float(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 50
data type after: <class 'float'>, value of A: 50.0

In [ ]:
# integer to boolean
A = 50.90
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'float'>, value of A: 50.9
data type after: <class 'bool'>, value of A: True

In [ ]:
##integer to boolean===for zero value will give you false
A = 0.00
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'float'>, value of A: 0.0
data type after: <class 'bool'>, value of A: False

In [ ]:
##integer to boolean
A = -7890
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: -7890
data type after: <class 'bool'>, value of A: True

In [ ]:
##String to boolean
A = "ada"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: ada
data type after: <class 'bool'>, value of A: True

In [ ]:
##String to boolean
A = "True"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: True
data type after: <class 'bool'>, value of A: True

In [ ]:
##String to boolean
A = "123"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 123
data type after: <class 'bool'>, value of A: True

In [ ]:
##empty String to boolean=====false value
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:
data type after: <class 'bool'>, value of A: False

In [ ]:
##empty String to int=====false value
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

NOTE: Converting any non zero number and string values into boolean will give True as an answer

NOTE: Empty string "" and 00 int will give False as an answer after converting from string to boolean

In [ ]:
##float to int
A = 1.234
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'float'>, value of A: 1.234
data type after: <class 'int'>, value of A: 1

In [6]:
name,city,dob =input("name : "),input("city: "),input("dob: ")
age = 2023 - int(dob)
print(f"""my name is {name}
my city is {age}
my age is {city}
my current age is : {age} """)

name : shivi
city: npl
dob: 1996
my name is shivi
my city is 27
my age is npl
my current age is : 27

In [ ]:
a = input("value of a = ")
b = input ("value of b = ")
print(f"sum a + b =  {int(a) + int (b)}" )

value of a = 12
value of b = 123
sum a + b =  135

In [ ]:
a,b = b,a

string

In [8]:
# String to List
m = "hello"
n = list(m)
print(n)  # Output: ['h', 'e', 'l', 'l', 'o']
print(type(n))  # Output: <class 'list'>

# List to String
x= ['h', 'e', 'l', 'l', 'o']
print(type(x))
x = str(x)
print(type(x))
print(x)

# Tuple to List
o = (1, 2, 3)
p = list(o)
print(p)  # Output: [1, 2, 3]
print(type(p))  # Output: <class 'list'>

['h', 'e', 'l', 'l', 'o']
<class 'list'>
<class 'list'>
<class 'str'>
['h', 'e', 'l', 'l', 'o']
[1, 2, 3]
<class 'list'>

In [ ]:
# List to Tuple
q = [1, 2, 3]
r = tuple(q)
print(r)  # Output: (1, 2, 3)
print(type(r))  # Output: <class 'tuple'>

# String to Tuple
s = "hello"
t = tuple(s)
print(t)  # Output: ('h', 'e', 'l', 'l', 'o')
print(type(t))  # Output: <class 'tuple'>

(1, 2, 3)
<class 'tuple'>
('h', 'e', 'l', 'l', 'o')
<class 'tuple'>

In [ ]:
# List to Set
u = [1, 2, 2, 3]
v = set(u)
print(v)  # Output: {1, 2, 3}
print(type(v))  # Output: <class 'set'>

# String to Set
w = "hello"
x = set(w)
print(x)  # Output: {'h', 'e', 'l', 'o'}
print(type(x))  # Output: <class 'set'>

{1, 2, 3}
<class 'set'>
{'o', 'e', 'h', 'l'}
<class 'set'>

In [ ]:
# List of Tuples to Dictionary
y = [('a', 1), ('b', 2)]
z = dict(y)
print(z)  # Output: {'a': 1, 'b': 2}
print(type(z))  # Output: <class 'dict'>


x = [('name' ,'shivani') ,('age',28)]
x = dict(x)
print(x)
print(type(x))

{'a': 1, 'b': 2}
<class 'dict'>
{'name': 'shivani', 'age': 28}
<class 'dict'>

In [ ]:
# Integer to Boolean
aa = 0
bb = bool(aa)
print(bb)  # Output: False
print(type(bb))  # Output: <class 'bool'>


aa = ''
bb = bool(aa)
print(bb)  # Output: False
print(type(bb))  # Output: <class 'bool'>

# String to Boolean
cc = "True"
dd = bool(cc)
print(dd)  # Output: True
print(type(dd))  # Output: <class 'bool'>

False
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>

## memory block

In [ ]:
a =23
b =1324
c = 23
print(id(a))
print(id(b))
print(id(c))

140209328309168
140208900116400
140209328309168

## OPERATORS

### **1.Arthmetic Operators**

|Operation|Meaning|
|:-:|:-:|
| **+** |addition|
| **-** |subtraction|
| **\*** |multiplication|
| **/** |true division|
| **//** |integer/FLOOR division|
| **%** |the modulo operator|
Exponentiation **: Raises the left operand to the power of the right operand.

Here `+`, `-`, `*`, `/` are regular arithmatic operators. Lets look at the `//` and `%` operators

Usecase or examples -
    
```python
var_a = 5
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/5=5

```python
var_a = 3
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/3=8

```python
var_a = 5
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/5 is 0

```python
var_a = 3
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/3 is 1

In [26]:
a = 5
b = 23
print(a+b)
print(a-b)
print(a*b)
print(b/a)    ##float
print(b//a)
print(b%a)
print(5**5)

28
-18
115
4.6
4
3
3125

In [24]:
var_a = 5
var_b = 23
integer_division = var_b // var_a
float_devision = var_b / var_a
remainder = var_b % var_a
print(f"integer division: {var_b}//{var_a}={integer_division}")
print(f"float division: {var_b}/{var_a}={float_devision}")
print(f"remainder division: {var_b}%{var_a}={remainder}")
print (type(integer_division))
print (type(float_devision))
print (type(remainder))

integer division: 23//5=4
float division: 23/5=4.6
remainder division: 23%5=3
<class 'int'>
<class 'float'>
<class 'int'>

### 2.Comparision operators

Operation | Meaning
- | -
< | A < B
<= | A <= B
> | A > B
>= | A >= B

In [34]:
print(5>3)
print(5<3)
print(5>=3)
print(5<=3)
print(3<=5<=8)
print(5==5.0)
print(5 is 5.0)

True
False
True
False
True
True
False

<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-34-54cab07230cd>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(5 is 5.0)

1. == only compares value
2. is compares data type also
3. operator overloading

In [28]:
a =5
b =10/2
print(type(a),type(b))
print(a==b)
print(a is b)
print("--------")

a =5
b =10//2
print(type(a),type(b))
print(a==b)
print(a is b)

<class 'int'> <class 'float'>
True
False
--------
<class 'int'> <class 'int'>
True
True

In [ ]:
# division opeartor returns result in float data type
# // --> floor division - returns nearest integer possible which is less
# than or equal to the quotient

In [ ]:
# operator overloading

In [ ]:
'abc' * 3

'abcabcabc'

### 3.logical operators
and
or
not

In [ ]:
a

6

In [ ]:
b

9

In [ ]:
a>4 and b>11

False

In [ ]:
4>5 or 6<7

True

In [ ]:
not(10>5)

False

In [ ]:
10>5

True

### 4.assignment operators

In [36]:
a = 13

In [37]:
a+=1
a

14

In [ ]:
# addition assignment -> adding 1 to a and assigning it back to a
# a = a+1

In [38]:
a-=2
a

12

In [ ]:
# subtraction assignment -> a = a-2

In [39]:
a*=3
a

36

In [40]:
a/=2
a

18.0

In [ ]:
# a = a/2

In [41]:
a//=2
a

9.0

In [ ]:
# a = a//2

In [ ]:
# data type preservation

In [ ]:
18//2

9

In [ ]:
a

9.0

In [ ]:
a%=2
a

1.0

In [ ]:
a**=3
a

1.0

###  5.membership operator - in/ not in
checks if a values exists in a sequence of values

In [ ]:
'a' in 'apple'

True

In [ ]:
'x' in 'apple'

False

In [ ]:
'p' not in 'apple'

False

In [46]:
num =[1,2,3,'abc','@1223']
print('abc' in num)
print('a' in num)
print('12' in num)

True
False
False

###6.Equality operators / Identity operator(is ,isnot)

Operator | uses | Meaning
- | - | -
is | A is B=> | return True if A and B points to the same object== same memory
is not | A is not B | returns True if A and B do not points to the same object
== | A == B | A is equal to B
!= | A != B | A is not equal to B

When using `is` then we are also comparing memory location
When using `is not` then we are also comparing memory location

== and != is only checking value of the variables [Used more offently or frequently]

In [47]:
a =1
b = 1
print(id(a),id(b))
if a is b:
  print("points to same location")
else:
  print("points to diff location")

137967511896304 137967511896304
points to same location

In [49]:
a =1
b =input("value of b = ")
print(type(b))
print(a is b)

print("-----------------")

b =int(input("value of b = "))
print(type(a),type(b))
print (id(a),id(b))
a is b

value of b = 1
<class 'str'>
False
-----------------
value of b = 1
<class 'int'> <class 'int'>
137967511896304 137967511896304

True

In [50]:
a =1
b =1
if a == b:
  print("points to same value")
else:
  print("points to diff value")

points to same value

In [51]:
a =[1,2,34]   ###python array is known as list  ##and they have diff location in python
b =[1,2,34]
print(id(a))
print(id(b))
print(a is b)
a==b

137966188240640
137966186662208
False

True

### **7. Bitwise Operators**

These operators perform operations on binary representations of integers.

* Bitwise AND (&): Performs a bitwise AND operation.

In [52]:
a = 12  # binary: 1100
b = 5   # binary: 0101
result = a & b  # result is 4 (binary: 0100)
result

4

* Bitwise OR (|): Performs a bitwise OR operation.

In [53]:
result = a | b  # result is 13 (binary: 1101)
result

13

* Bitwise XOR (^): Performs a bitwise XOR operation.

In [54]:
result = a ^ b  # result is 9 (binary: 1001)
result

9

* Bitwise NOT (~): Performs a bitwise NOT operation (inverts all bits).

In [55]:
result = ~a  # result is -13 (binary: inverted bits of 12)
result

-13

* Bitwise Left Shift (<<): Shifts the bits of the left operand to the left by the number of positions specified by the right operand.

In [ ]:
result = a << 2  # result is 48 (binary: 110000)
result

48

* Bitwise Right Shift (>>): Shifts the bits of the left operand to the right by the number of positions specified by the right operand.

In [ ]:
result = a >> 2  # result ??????????
result

3