<a href="https://colab.research.google.com/github/ShiviRaghu/boss/blob/practice/Pract4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.  Iterative Statements
2.  Types of Iterative Statements
3.  For Loop
4.  While Loop
5.  Difference Between For Loop and While Loop
6.  Nested Loops
7.  Transfer Statements
8.  Continue
8. Break
10.Pass
11. Loops Control with else

## flow chart,pseudo code

## for loop
1. for loop --> a way to repeat multiple times --> n times (optimized action),save time and effort
2. range (start,end,step(optional)) start includes ,ends at n-1

In [7]:
for i in range (0,8):
  print(i)
'abc'

0
1
2
3
4
5
6
7

'abc'

In [13]:
for i in "apple":
  print(i,end =' ')

a p p l e

In [20]:
for i in '10':
  print(i)

1
0

In [18]:
range(0,2)
print(range(0,2))

range(0, 2)

In [15]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [3]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [5]:
##when start is > than end

for i in range(10,2,-1):
  print(i)

10
9
8
7
6
5
4
3

1. Write a program to print the first 10 multiples of a number entered by the user.
2. Write a program to print numbers from 20 to 10 in descending order using a for loop.
3. Write a program to calculate the sum of all even numbers between 1 and 50.
4. Write a program to count the number of vowels in a string entered by the user.

In [10]:
numb = int(input("enter number "))
for i in range (1,11):
  print(numb*i)

enter number 1
1
2
3
4
5
6
7
8
9
10

In [12]:
for i in range(20,9,-1):
  print(i)

20
19
18
17
16
15
14
13
12
11
10

In [29]:
##Write a program to calculate the sum of all even numbers between 1 and 50.
sum =0
for i in range (0,51):
  if(i%2==0):
    sum += i
print(sum)

sum =0
for i in range(2,51,2):
  sum +=i
print(sum)

650
650

In [26]:
count =0
word = input("enter word : ")
for i in word.lower():
  if i in 'aeiou':
    count += 1
print(f"numb of vowels are: {count}" )

enter word : app
numb of vowels are: 1

In [31]:
word = input("Enter word: ")
vowels = "aeiou"
found_vowels = set()  # Use a set to store found vowels

for letter in word.lower():
  if letter in vowels:
    found_vowels.add(letter)
  print(found_vowels)

print(f"Number of unique vowels: {len(found_vowels)}")

Enter word: appleee
{'a'}
{'a'}
{'a'}
{'a'}
{'a', 'e'}
{'a', 'e'}
{'a', 'e'}
Number of unique vowels: 2

5. Write a program to generate and print square numbers from 1 to 10.
6. Write a program to print numbers from 1 to 30. For multiples of 3, print "Fizz" instead of the number, and for multiples of 5, print "Buzz." For numbers that are multiples of both 3 and 5, print "FizzBuzz."
7. Write a program to calculate the factorial of a number entered by the user.

In [37]:
for i in range(1,11):
  print(i**2)

1
4
9
16
25
36
49
64
81
100

In [42]:
##Write a program to print numbers from 1 to 30. For multiples of 3, print "Fizz"
##instead of the number, and for multiples of 5, print "Buzz."
##For numbers that are multiples of both 3 and 5, print "FizzBuzz."

for i in range(1,31):
  if(i%3==0) and (i%5==0):
    print(f"{i} FizzBuzz")
  elif(i%3==0):
    print(f"{i} Fizz")
  elif(i%5==0):
    print(f"{i} Buzz")
  else:
    print(f"{i} not divisble by 5 ,3,15")

3 Fizz
5 Buzz
6 Fizz
9 Fizz
10 Buzz
12 Fizz
15 FizzBuzz
18 Fizz
20 Buzz
21 Fizz
24 Fizz
25 Buzz
27 Fizz
30 FizzBuzz

In [44]:
## Write a program to calculate the factorial of a number entered by the user.

num =int(input("enter number to find factorial: "))
x =1
for i in range (1,num+1):
   x *=i
print(f"factorial of number is {x}")

enter number : 5
factorial of number is 120

# String methods

In [ ]:
a =12
b =13

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
a**(1/2)

25
-1
156
0.9230769230769231
0
12

3.4641016151377544

### String methods

if N characters or elements are there in a string then

the index range will vary from 0 to N-1
for example is "Sunny" N = 5
index value is ranging from 0 to 4

to index in reverse order the index  ranges from -1 to -N

In [ ]:
s ="shivi"
print(s[0])    #index 01234   or      -5-4-3-2-1 from back side
print(s[-1])
#print (s[5])
print(s[-5])

s
i
s

### String slicing/reverse string

In [ ]:
##STRING SLICING

s ="shivi"
   #01234
   #-5-4-3-2-1

print(s[0:1])
print(s[0:-1])
print(s[1:3])
print(s[1:])
print(s[-5:-1])


s ="26/08/2023"
  # 0123456789
date = s[0:2]
month = s[3:5]
year =s[6:10]
print(f"todays month = {date},{month},{year}")

s
shiv
hi
hivi
shiv
todays month = 26,08,2023

In [ ]:
##STRING SLICING

s ="shivi"
  # 01234
print(s[0:5:2] )   #024 ###start:ending:step taking step of 1
print(s[0:5:3]) #036
print(s[1: :2]) #135
print(s[::1])


print(s[:2:-1])   #reverse #including starting
print(s[-2::-1])

sii
sv
hv
shivi
iv
vihs

In [ ]:
s ="shivani raghuwanshi"
print(s[: :-1])
print(s[::-2])
print("----")
#Reverse the whole string
s ="my name is shivi"
print(s[::-1])
print(s[-1::-1]);
s[len(s)::-1]

ihsnawuhgar inavihs
isaugriais
----
ivihs si eman ym
ivihs si eman ym

'ivihs si eman ym'

In [ ]:
###string is palindrome

s = input("enter name to check ?  ")
srev = s[::-1]

if srev==s:
 print("name is palindrome")
else:
  print("not a palindrome")


  str = input("enter any string to check whether it is palindrome ? ")
  if str == str[-1::-1]:
    print("palindrome")
  else:
    print("not palindrome")

enter name to check ?  abcbca
not a palindrome
enter any string to check whether it is palindrome ? abccba
palindrome

### mutable string

In [ ]:
#### replace s with h
s ="shivi"
s[0]="h"
s

TypeError: 'str' object does not support item assignment

In [ ]:
"h"+s[1:] ## concatinating
s   ###but not printing
s = "h" + s[1:]
s

'hhivi'

In [ ]:
s = s.replace("s","h")
s
s =s.replace("h","S")
s
s = "my name is shivi"
s = s.replace("name","shivi")
s

'my shivi is shivi'

In [ ]:
name = "shivani raghuwanshi is good"
name = name.replace(" ","_")
name

'shivani_raghuwanshi_is_good'

### length

In [ ]:
len(name)
len("shivi")

5

In [ ]:
####count and split

s ="shivi"
print(s.count("i"))
print(s.count("u"))

name ="a b c"
first,sec,third = name.split(" ")
print(f"""{first},{sec},{third}""")


m ="shivi rahj jkjk"
u =m.split(" ")
print(u)
print(u[0])
len (u)
len(u[0])

2
0
a,b,c
['shivi', 'rahj', 'jkjk']
shivi

5

In [ ]:
#####cases---lower,upper------ ####join

name = input("enter name ")
print(f"{name.lower()}")
print(f"{name.upper()}")
print(f"{name.title()}")
print(f"{name.capitalize()}")
print(f"{name.swapcase()}")

enter name My name is Shivani
my name is shivani
MY NAME IS SHIVANI
My Name Is Shivani
My name is shivani
mY NAME IS sHIVANI

In [ ]:
name ="gjhk jlk;l"
print(" ".join(name))
"sed".join(name)

g j h k   j l k ; l

'gsedjsedhsedksed sedjsedlsedksed;sedl'

### strip,join

In [ ]:
name ="  sjjjk dgggg     abc "
print(name.strip(" "))
print(name.lstrip(" "))
print(name.rstrip(" "))


name ="@@@@@ jhkl nml @@@"
name.strip("@@")

sjjjk dgggg     abc
sjjjk dgggg     abc
  sjjjk dgggg     abc

' jhkl nml '

### formatting

In [ ]:
n ="sguhi"
print (n.center(8,"a"))
n.center(12,"#")   ###not work for less than length

asguhiaa

'###sguhi####'

### Checking string cases

In [ ]:
name ="My Name Is Shibji "
print(name.islower())
print(name.isupper())
print(name.istitle())
print(name.isspace())
x ="  "
print(x.isspace())

print(name.iscapitalize())

False
False
True
False
True

AttributeError: 'str' object has no attribute 'iscapitalize'

In [ ]:
y = input("enter any string ")

if y.istitle():
  print(f"already in title case {y}")
elif not y:
  print("wrong input provide correct input")
else :
 y = y.title()
 print(f"converted in title case {y}")

enter any string
wrong input provide correct input

In [ ]:
num ="_798079856769780901233"
print(num.isdigit())
print(num.isnumeric())
print(num.isdecimal())
print(num.isidentifier())
print(num.isprintable())



al ="sfsf123"
print(al.isalpha())
print(al.isalnum())

False
False
False
True
True
False
True

In [ ]:
num =input("input phone nnum ")

if num.isdigit and len(num)==10:
  print("you have entered correct number")
else:
  print("please enter correct number")

print(num.startswith("0"))
print(num.endswith("9"))

num[1:]

input phone nnum 12367890008
please enter correct number
False
False

'2367890008'

In [ ]:
num ="+913456788999"

if num.isdigit and len(num)==13 and num.startswith("+91"):
  print("number is indian number")
else:
  print("please re enter number")

number is indian number

In [ ]:
###alphanumeric

a ="abkjjkl123"
a ="12234"
a="    124lklk"
a ="afsdg13!@#$"
a.isalnum()    ### aplha or num or both

False