<a href="https://colab.research.google.com/github/ShiviRaghu/boss/blob/practice/Pract3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AGENDA
0. Glimpse of conditional statements -
  - if-else condtions
1. Operators
  - Logical
  - Equality
  - Comparision
  - Arthimatic
  - Bitwise [Advance topics - covering in future classes]
  - Operators for sets and dictionary [Advance classes]

2. String methods
3. Control flow statement [if time permits]

## Logical Operators
### and,not,or
### if else

In [ ]:
##indenation error --allingnment not proper --select then use shift+tab
raining = True
if raining:
  print("home")
  print("zc")  ### space = indenatation refers to same as{} ##  that determines the grouping and structure of code blocks,the lines inside the if block are indented, indicating that they are part of the block. The line outside the if block is not indented, showing that it is not part of the block.
else:
   print("office")
print("always") ##outside the if block

home
zc
always

In [ ]:
raining = False
if not raining:
   print("office")    ### space = indenatation refers to same as{} ##  that determines the grouping and structure of code blocks,the lines inside the if block are indented, indicating that they are part of the block. The line outside the if block is not indented, showing that it is not part of the block.
else:
   print("homme")
print("always") ##outside the if block

office
always

In [ ]:
class_start = True
if class_start:
  print("started")
else:
    print("revise")

started

In [ ]:
a = int(input("enter value of a = "))
if a>=0:
  print("+ve num")
else:
 print("-ve num")

enter value of a = 0
-ve num

In [ ]:
class_started = bool(input("hey class is started ? = "))
if class_started:     ##if you dont provide input it will be empty string and o/p will be false
  print("started")
else:
    print("revise")

hey class is started ? =
revise

In [ ]:
a =int(input("value of a "))
b = int(input("value of b "))
if a>=0 and b>=0:
  print(f"multiply of {a*b} will be +ve")
else:
  print("multipl of{a*b} will be -ve")

value of a 10
value of b 20
multiply of 200 will be +ve

In [ ]:
a =int(input("value of a "))
b = int(input("value of b "))
if a<0 or b<0:
  print(f"multiply of {a*b} will be -ve")
else:
  print("multipl of{a*b} will be +ve")

### using and or together

In [ ]:
attendance = 90
assignment =70
sports = True
if attendance>=75 and assignment>=70:
 if sports:
  print("exam eligible and grace+10")
 else:
  print("exam  eligible no grace")
else :
  print("not eligible for exam")

exam eligible and grace+10

In [ ]:
marks = 30
attend=80

if marks>55:
  if attend >75:
    print("pass and 1st div")
  else:
      print("pass but not 1st division")
else:
  print("fail")
print("result not declared")

fail
result not declared

In [ ]:
attendance = 90
assignment =40
sports = False
if attendance>=75 and assignment>=70:
 if sports:
  print("exam eligible and grace+10")
 else:
  print("exam  eligible no grace")
else :
  print("not eligible for exam")

not eligible for exam

## Equality operators

Operator | uses | Meaning
- | - | -
is | A is B=> | return True if A and B points to the same object== same memory
is not | A is not B | returns True if A and B do not points to the same object
== | A == B | A is equal to B
!= | A != B | A is not equal to B

When using `is` then we are also comparing memory location
When using `is not` then we are also comparing memory location

== and != is only checking value of the variables [Used more offently or frequently]

In [ ]:
a =1
b = 1
print(id(a),id(b))
if a is b:
  print("points to same location")
else:
  print("points to diff location")

134067314999536 134067314999536
points to same location

In [ ]:
a =1
b =input("value of b = ")
print(type(b))
print(a is b)
b =int(input("value of b = "))
print(type(a),type(b))
print (id(a),id(b))
a is b

value of b = 1
<class 'str'>
False
value of b = 2
<class 'int'> <class 'int'>
134067314999536 134067314999568

False

In [ ]:
a =1
b =1
if a == b:
  print("points to same value")
else:
  print("points to diff value")

points to same value

In [ ]:
a =[1,2,34]   ###python array is known as list  ##and they have diff location in python
b =[1,2,34]
print(id(a))
print(id(b))
print(a is b)
a==b

134066030935040
134066030913408
False

True

### Try to understand the following examples and answer the question based on it -
    
**Arithmatic Operators**

|Operation|Meaning|
|:-:|:-:|
| **+** |addition|
| **-** |subtraction|
| **\*** |multiplication|
| **/** |true division|
| **//** |integer division|
| **%** |the modulo operator|


Here `+`, `-`, `*`, `/` are regular arithmatic operators. Lets look at the `//` and `%` operators

Usecase or examples -
    
```python
var_a = 5
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/5=5

```python
var_a = 3
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/3=8

```python
var_a = 5
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/5 is 0

```python
var_a = 3
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/3 is 1

In [ ]:
var_a = 5
var_b = 23
integer_division = var_b // var_a
float_devision = var_b / var_a
remainder = var_b % var_a
print(f"integer division: {var_b}//{var_a}={integer_division}")
print(f"float division: {var_b}/{var_a}={float_devision}")
print(f"remainder division: {var_b}%{var_a}={remainder}")
print (type(integer_division))
print (type(float_devision))
print (type(remainder))

integer division: 23//5=4
float division: 23/5=4.6
remainder division: 23%5=3
<class 'int'>
<class 'float'>
<class 'int'>

### Comparision

Operation | Meaning
- | -
< | A < B
<= | A <= B
> | A > B
>= | A >= B

In [ ]:
a =5
b =10/2
print(type(a),type(b))
print(a==b)
print(a is b)
print("--------")
a =5
b =int(10/2)
print(type(a),type(b))
print(a==b)
print(a is b)

<class 'int'> <class 'float'>
True
False
--------
<class 'int'> <class 'int'>
True
True