<a href="https://colab.research.google.com/github/ShiviRaghu/boss/blob/practice/Pract4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.  Iterative Statements
2.  Types of Iterative Statements
3.  For Loop
4.  While Loop
5.  Difference Between For Loop and While Loop
6.  Nested Loops
7.  Transfer Statements
8.  Continue
8. Break
10.Pass
11. Loops Control with else

# String methods

In [ ]:
a =12
b =13

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
a**(1/2)

25
-1
156
0.9230769230769231
0
12

3.4641016151377544

### String methods

if N characters or elements are there in a string then

the index range will vary from 0 to N-1
for example is "Sunny" N = 5
index value is ranging from 0 to 4

to index in reverse order the index  ranges from -1 to -N

In [ ]:
s ="shivi"
print(s[0])    #index 01234   or      -5-4-3-2-1 from back side
print(s[-1])
#print (s[5])
print(s[-5])

s
i
s

### String slicing/reverse string

In [ ]:
##STRING SLICING

s ="shivi"
   #01234
   #-5-4-3-2-1

print(s[0:1])
print(s[0:-1])
print(s[1:3])
print(s[1:])
print(s[-5:-1])


s ="26/08/2023"
  # 0123456789
date = s[0:2]
month = s[3:5]
year =s[6:10]
print(f"todays month = {date},{month},{year}")

s
shiv
hi
hivi
shiv
todays month = 26,08,2023

In [ ]:
##STRING SLICING

s ="shivi"
  # 01234
print(s[0:5:2] )   #024 ###start:ending:step taking step of 1
print(s[0:5:3]) #036
print(s[1: :2]) #135
print(s[::1])


print(s[:2:-1])   #reverse #including starting
print(s[-2::-1])

sii
sv
hv
shivi
iv
vihs

In [ ]:
s ="shivani raghuwanshi"
print(s[: :-1])
print(s[::-2])
print("----")
#Reverse the whole string
s ="my name is shivi"
print(s[::-1])
print(s[-1::-1]);
s[len(s)::-1]

ihsnawuhgar inavihs
isaugriais
----
ivihs si eman ym
ivihs si eman ym

'ivihs si eman ym'

In [ ]:
###string is palindrome

s = input("enter name to check ?  ")
srev = s[::-1]

if srev==s:
 print("name is palindrome")
else:
  print("not a palindrome")


  str = input("enter any string to check whether it is palindrome ? ")
  if str == str[-1::-1]:
    print("palindrome")
  else:
    print("not palindrome")

enter name to check ?  abcbca
not a palindrome
enter any string to check whether it is palindrome ? abccba
palindrome

### mutable string

In [ ]:
#### replace s with h
s ="shivi"
s[0]="h"
s

TypeError: 'str' object does not support item assignment

In [ ]:
"h"+s[1:] ## concatinating
s   ###but not printing
s = "h" + s[1:]
s

'hhivi'

In [ ]:
s = s.replace("s","h")
s
s =s.replace("h","S")
s
s = "my name is shivi"
s = s.replace("name","shivi")
s

'my shivi is shivi'

In [ ]:
name = "shivani raghuwanshi is good"
name = name.replace(" ","_")
name

'shivani_raghuwanshi_is_good'

### length

In [ ]:
len(name)
len("shivi")

5

In [ ]:
####count and split

s ="shivi"
print(s.count("i"))
print(s.count("u"))

name ="a b c"
first,sec,third = name.split(" ")
print(f"""{first},{sec},{third}""")


m ="shivi rahj jkjk"
u =m.split(" ")
print(u)
print(u[0])
len (u)
len(u[0])

2
0
a,b,c
['shivi', 'rahj', 'jkjk']
shivi

5

In [ ]:
#####cases---lower,upper------ ####join

name = input("enter name ")
print(f"{name.lower()}")
print(f"{name.upper()}")
print(f"{name.title()}")
print(f"{name.capitalize()}")
print(f"{name.swapcase()}")

enter name My name is Shivani
my name is shivani
MY NAME IS SHIVANI
My Name Is Shivani
My name is shivani
mY NAME IS sHIVANI

In [ ]:
name ="gjhk jlk;l"
print(" ".join(name))
"sed".join(name)

g j h k   j l k ; l

'gsedjsedhsedksed sedjsedlsedksed;sedl'

### strip,join

In [ ]:
name ="  sjjjk dgggg     abc "
print(name.strip(" "))
print(name.lstrip(" "))
print(name.rstrip(" "))


name ="@@@@@ jhkl nml @@@"
name.strip("@@")

sjjjk dgggg     abc
sjjjk dgggg     abc
  sjjjk dgggg     abc

' jhkl nml '

### formatting

In [ ]:
n ="sguhi"
print (n.center(8,"a"))
n.center(12,"#")   ###not work for less than length

asguhiaa

'###sguhi####'

### Checking string cases

In [ ]:
name ="My Name Is Shibji "
print(name.islower())
print(name.isupper())
print(name.istitle())
print(name.isspace())
x ="  "
print(x.isspace())

print(name.iscapitalize())

False
False
True
False
True

AttributeError: 'str' object has no attribute 'iscapitalize'

In [ ]:
y = input("enter any string ")

if y.istitle():
  print(f"already in title case {y}")
elif not y:
  print("wrong input provide correct input")
else :
 y = y.title()
 print(f"converted in title case {y}")

enter any string
wrong input provide correct input

In [ ]:
num ="_798079856769780901233"
print(num.isdigit())
print(num.isnumeric())
print(num.isdecimal())
print(num.isidentifier())
print(num.isprintable())



al ="sfsf123"
print(al.isalpha())
print(al.isalnum())

False
False
False
True
True
False
True

In [ ]:
num =input("input phone nnum ")

if num.isdigit and len(num)==10:
  print("you have entered correct number")
else:
  print("please enter correct number")

print(num.startswith("0"))
print(num.endswith("9"))

num[1:]

input phone nnum 12367890008
please enter correct number
False
False

'2367890008'

In [ ]:
num ="+913456788999"

if num.isdigit and len(num)==13 and num.startswith("+91"):
  print("number is indian number")
else:
  print("please re enter number")

number is indian number

In [ ]:
###alphanumeric

a ="abkjjkl123"
a ="12234"
a="    124lklk"
a ="afsdg13!@#$"
a.isalnum()    ### aplha or num or both

False