<a href="https://colab.research.google.com/github/ShiviRaghu/boss/blob/practice/pract1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Printing Statement
2. comment line
3. double quotes
4. calci
5. variable
6. data typesld text

# **Printing statement**

1. print (" ") or print(' ') ('''')
2. " " or ' ' only 1 can be print,if many then last
3. multiLine ("""
""")
4. " "
print(" ")  # only print last line with print   / " " if its at the last
5.####comment

In [1]:
print("hello world!!!!")

hello world!!!!1

In [2]:
print("july 17 2024")
print('july 17 2024')
print('''july 17 2024''')
print("abc")
print('abc')
'''abc'''
'dgh'
print("def")

july 17 2024
july 17 2024
july 17 2024
abc
abc
def

In [ ]:
print('abc')
'abcf'
print("def")
'''ko'''

abc
def

'ko'

In [ ]:
"abc"
"def"
"last line"
'last last line'
"laldkfkvkklkl"
'sdfhjkl'

'sdfhjkl'

In [3]:
print("""abc
def""")

print("""
1st lline
2nd line

""")

#print(""
#abc
#def
#ghi
#"")


print("""
xdfcghjkl
fcvghjkl;
fcghjkl
""")

"""
"adcsc"
"""

abc
def

1st lline
2nd line



xdfcghjkl
fcvghjkl;
fcghjkl

'\n"adcsc"\n'

In [ ]:
print(""""abc"
def
gh

""")

#abc

"""hkikklll;ll;l;"""
print('aff')

"abc"
def
gh


aff

In [ ]:
"morning"
print("xcvbhnm")
print("""sdfghjkl
 zsdfhjkl
 sdfkl
 """)
'modfghk'
"asdfghjkl;"

xcvbhnm
sdfghjkl
 zsdfhjkl
 sdfkl

'asdfghjkl;'

In [ ]:
"morning"
print("good") ; print('moerninh')
"asdfghjko"

good
moerninh

'asdfghjko'

## print in same line and seperator
###,end or \n
### by default print ---- prints seperated by space
### sep -The sep parameter in Python's print() function is used to specify the separator between the values being printed

In [22]:
name ='shii'
age =23

## print by default print in next line -- to print in same line
## can use end to print in one line
print("my name is {} and age is {}".format(name,age) ,end = ",")
print(f"my name is {name} and age is {age}")

print("my name is {} and age is {}".format(name,age) ,end = "****")
print(f"my name is {name} and age is {age}")


print("my name is {} and age is {}".format(name,age) ,end = " ")
print(f"my name is {name} and age is {age}")

print(f"my name is {name} and \nage is {age}")

my name is shii and age is 23,my name is shii and age is 23
my name is shii and age is 23****my name is shii and age is 23
my name is shii and age is 23 my name is shii and age is 23
my name is shii and
age is 23

In [27]:
print(f"my name is {name} and age is {age}", sep =" "" ")
print("my name is",name,"and age is",age , sep ='     ')
print("my name is",name,"and age is",age , sep =' ""  ')

my name is shii and age is 23
my name is     shii     and age is     23
my name is ""  shii ""  and age is ""  23

## special chars with \

The backslash (\) is an escape character in Python strings. It's used to represent special characters like newlines (\n), tabs (\t), or to include quotes within a string.

\b is a special character called a backspace. It moves the cursor one position backward but does not erase the character at that position.

\r is a special character called a carriage return. It moves the cursor to the beginning of the current line without advancing to the next line.

In [33]:
print("1hello \nworld")
print("2hello \tworld")
print("3hello \\world")
print("4hello \bworld jkl")
print("5hello world jlp \r klmo")
print("6hello\'s world")
print("7hello \"s world")
print("8hello \\'s world")
print("9hello \"s world")

1hello
world
2hello 	world
3hello \world
4hello world jkl
 klmo
6hello's world
7hello "s world
8hello \'s world
9hello "s world

# **comment line**

1. #
2. multiline comment """
"""  / "" "" with **print at last otherwiise this will print**

In [4]:
"""
jij
kjkj
"""

"""
abbnk
"""

NameError: name 'abbnk' is not defined

In [5]:
"""
Say Hi
To the students
"""
print("hello")

hello

In [6]:
#hii
"""xcfgvhbjkl
xdfcghjkl
xcvb
"""
print("szhjkl")

szhjkl

In [7]:
#hiii
"""sgdfg
fgfggf
gfhgj
"""
"kjk"

'kjk'

# **Print in double quotes**

1. (" 'xyz ' ")
2. (' "xyz" ')
3. (""" "xyz"! """)
4. (""" "xyz" """)
4. (""" \"xyz\" """)

In [ ]:
print("my name is 'xyz' ")

my name is 'xyz'

In [ ]:
print(" ' i m cool ' ")
print(' " i m cool" ')
print(""" 'i m ok' """)
print(""" ""i  m ok"" """)

 ' i m cool '
 " i m cool"
 'i m ok'
 ""i  m ok""

In [ ]:
print('my name is "shici" ')

my name is "shici"

In [ ]:
print("""my name is 'shici' """)

my name is 'shici'

In [ ]:
print("""my name is 'shici'! """)

my name is 'shici'!

In [ ]:
print("""my name is "shici"! """)

my name is "shici"!

In [ ]:
print("""my name is "shici" """)

my name is "shici"

In [8]:
print("""my name is \'shici\' """)
print(" my name is \"shivi\" ")

my name is 'shici'
 my name is "shivi"

In [ ]:
print("my name is \"shici\" ")
print("my dfghj \"xcvbhjk\" ")

my name is "shici"
my dfghj "xcvbhjk"

# **calci**

In [ ]:
1+2
2.123+23.46

25.583000000000002

In [ ]:
12*12

144

In [ ]:
print (12/2)  #quotinet
12%2    #remainder

6.0

0

In [ ]:
print(12**2) ####    ** = power of n
print(2**8)

print(2**3)
2**10

144
256
8

1024

In [ ]:
(-12)**3 ###negative power ##power of 3

-1728

In [ ]:
124%12     #modulus ---remainder

4

In [ ]:
print(1234%12)
print("result")

10
result

In [ ]:
1234%12
print("result")

result

#**variables in python**

### Naming convention for variable in python

In Python, following proper naming conventions for variables helps in writing clean, readable, and maintainable code. Here are the widely accepted conventions:

1. **Snake Case for Variable Names**

 * Convention: Use lowercase letters and separate words with underscores (_).
 * Example: my_variable, total_amount, user_age
2. **Camel Case for Class Names**
 * Convention: Start with an uppercase letter and use uppercase for the first letter of each subsequent word, without underscores.
 * Example: MyClass, EmployeeDetails, OrderProcessor
3. **Uppercase Letters for Constants**
 * Convention: Use uppercase letters with words separated by underscores. This is typically used for constants that are not meant to change.
 * Example: PI, MAX_SIZE, DEFAULT_TIMEOUT
4. **Single Leading Underscore for Internal Use**
 * Convention: Prefix with a single underscore to indicate that the variable or method is intended for internal use within a module or class and should not be accessed directly.
 * Example: _internal_variable, _helper_function
5. **Double Leading Underscore for Name Mangling**
 * Convention: Prefix with double underscores to invoke name mangling, which helps avoid name clashes in subclasses.
 * Example: __private_variable, __special_method
6. **Avoid Using Single Underscore Alone**
 * Convention: A single underscore by itself is sometimes used to indicate a throwaway variable, meaning it will not be used.
 * Example: for _ in range(10): (The underscore is used to ignore the loop variable.)
7. **Descriptive Names**

 * Convention: Use descriptive names that indicate the purpose of the variable. Avoid single-letter names except in very small scopes (e.g., loop counters).
 * Example: student_name, total_price, file_path

In [36]:
# Snake case for variable names
user_name = "Alice"
total_cost = 150.75

# Camel case for class names
class DataProcessor:
    pass

# Uppercase for constants
MAX_RETRIES = 5
DEFAULT_PORT = 8080

# Single leading underscore for internal use
def _helper_function():
    pass

# Double leading underscore for name mangling
class MyClass:
    def __init__(self):
        self.__private_var = 42

    def __private_method(self):
        pass

# Single underscore for throwaway variables
for _ in range(5):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

In [ ]:
x=10
y=20
print(x)
print(x+y)

10
30

## 1. variable name start with alphabets**

In [ ]:
ten=10
tenn_num=122

### 2. not contain sp chars @#$%^&*()! except_

In [ ]:
ten* =10

SyntaxError: ignored

In [ ]:
ten(% =23)

SyntaxError: ignored

In [ ]:
ten/nu, =12

SyntaxError: ignored

### 3.can contain number but can't start with it

In [ ]:
ten12 =123

In [ ]:
12tehnkk =90

SyntaxError: ignored

## 4. not rule but should start with small letter in variable

In [ ]:
Ten = 10

In [ ]:
ten num =233

SyntaxError: ignored

In [ ]:
ten_num = 123

In [ ]:
_num =10 #####hidden  ###not visible to end user (in black box)
print(_num)

10

In [ ]:
_ = 10 ######dummy variable
print(_)

10

In [ ]:
xyz =10;
print(xyz)
z_o = 1000;
z_o

10

1000

## Multi assignment of variables

In [ ]:
a,b,c,d = 's',12.3,"adsd"
print(type (a))
print(type(d))

ValueError: not enough values to unpack (expected 4, got 3)

In [ ]:
a,b,c,d = 's',12.3,"adsd",-233
print(type (a))
print(type(d))

<class 'str'>
<class 'int'>

In [ ]:
type(b)

float

In [ ]:
type(c)

str

In [ ]:
print(a,b,c,d)

10 12.3 adsd True

In [ ]:
a=b=c=1312
a,b,c

(1312, 1312, 1312)

In [ ]:
name,age,sex = 'shibi',23,'f'
print(f"""my name is {name} and
my age is {age} and
my gender is {sex}""")

my name is shibi and
my age is 23 and
my gender is f

In [ ]:
name,city,age ="abha","agra",12
print(f"""my name is {name}
my age is {age}
my city is {city}""")

my name is abha
my age is 12
my city is agra

In [ ]:
class_name,date = "python",23
print(f"""class name is {class_name}
and date is {date}""")

class name is python
and date is 23

In [ ]:
date,month,year = 23,12,2023
print(f"""
today's date is {date}
today's  month is {month}
today's  year is {year}
""")

today's date is 23
today's  month is 12
today's  year is 2023

In [ ]:
name,city,age =input("name : "),"agra",12
print(f"""my name is {name}
my age is {age}
my city is {city}""")

name : 124
my name is 124
my age is 12
my city is agra

In [ ]:
a,a =10,12
print(a)
print(a)

12
12

In [35]:
a =10
b =20
a,b = b,a
print(a,b)

20 10

# **data types**

## numeric - integer ,float,complex

In [ ]:
a =123
type(a)

int

In [ ]:
a =9089009756789
type(a)

int

## floats

In [ ]:
p =12.789
type(p)

float

In [9]:
p=22/7
type(p)

float

In [10]:
p=2.00
type(p)

float

In [ ]:
p =12/2
print(p)
type(p)

6.0

float

## Complex number

In [ ]:
a =1+2j
print(a)
b = 3.123+3j
b

(1+2j)

(3.123+3j)

In [ ]:
type(a)

complex

In [ ]:
print(a.real)
b.real

1.0

3.123

In [ ]:
a.imag
b.imag

3.0

#### Sequence Types:

* **str:** Represents a sequence of characters (strings)

In [ ]:
s = "Bosscoder"
type(s)

str

* **list:** Represents an ordered collection of items, which can be of different types.

In [ ]:
fruits = ["apple", "a123@12", "cherry"]
type(fruits)

list

* **tuple:** Represents an ordered collection of items similar to a list, but tuples are immutable (cannot be changed after creation).

In [ ]:
coordinates = (10, 'abc',20)
type(coordinates)

tuple

#### Mapping Type:

* **dict:** Represents a collection of key-value pairs

In [ ]:
student = {"name": "John", "age": 21}
type(student)

dict

#### Set Types:

* **set:** Represents an **unordered collection of unique items.**

In [ ]:
unique_numbers = {1, 2, 2, 4, 5,'abc'}
print(type(unique_numbers))
print(unique_numbers)

{1, 2, 'abc', 4, 5}

* **frozenset:** An immutable version of a set

In [ ]:
frozen_set = frozenset([1, 2, 3])
type(frozen_set)

frozenset

**NOTE: We will learn all these topics eg: String, list, tuple, dictionary etc. in upcoming lecture, here we are just giving an overview only.**

#### Boolean Type:

* **bool:** Represents one of two values: True or False.

In [ ]:
flag = True
type(flag)

bool

#### None Type:

* **NoneType:** Represents the absence of a value or a null value.

In [ ]:
result = None
type(result)

NoneType

## dynamic typing  ---override value as well as data type

In [ ]:
a =12
print(type(a))
a =12.2
print(type(a))
a ="shici"
type(a)
a

<class 'int'>
<class 'float'>

'shici'

In [ ]:
a =1.234
print(type(a))
a =1234
print(type(a))
a ="1.234"
print(type(a))
a ='1.234'
print(type(a))
a

<class 'float'>
<class 'int'>
<class 'str'>
<class 'str'>

'1.234'

## Strong Typing -- concat same data type or use   " " or ' '

In [ ]:
"shivi"+01

SyntaxError: ignored

In [ ]:
"shivi"+"01"

'shivi01'

In [ ]:
'shivi' +'01'

'shivi01'

In [ ]:
'11233'+'23232'

'1123323232'

In [ ]:
'123242' +"0.132432"

'1232420.132432'

In [ ]:
name ="abha"
print("my name is " + name ) ##rarely used
zy =  10
print("number " + zy)

my name is abha
number 10

## **fromatted string method**

In [17]:
name ="abjjkbha"
age = "23"
print(f"my name is {name} and age is {age} ") ##mostly used ##f---fromatted string method
print("my name is " + name  + " and age is " + age)
print("my name is" ,name, "and age is" ,age)

my name is abjjkbha and age is 23
my name is abjjkbha and age is 23
my name is abjjkbha and age is 23

In [19]:
name ="shivani","babha"
number = 8798901235
print(f"my name is {name} and number is {number}")
name ="babha"
number =1235
print(f"my name is {name} and number is {number}")

my name is ('shivani', 'babha') and number is 8798901235
my name is babha and number is 1235

In [20]:
name ="abha"
age =789
print("my name is {} and age is {}".format(name,age)) ##old way

my name is abha and age is 789

In [ ]:
a=121
b=1323
c=a+b
f"sum of a= {a} and b={b} is equal to {c}"

'sum of a= 121 and b=1323 is equal to 1444'

In [ ]:
a=123
b=145
c =a/b
print(f" division of {a} / {b} = {c}")

 division of 123 / 145 = 0.8482758620689655

In [ ]:
a =123;
b =1324;
c =a+b;
print(f"sum of {a} + {b} = {c}")

sum of 123 + 1324 = 1447

In [ ]:
name = input("enter your name")
age = input("enter your age")
print("my name is " + name + " and my age is " + age)
print(f"my name is {name} and my age is {age}")

enter your nameiop
enter your age90
my name is iop and my age is 90
my name is iop and my age is 90

## boolean

In [ ]:
x=113
b=678
c=x>b
type(c)
print(type(c))

<class 'bool'>

In [ ]:
result = int('10.5')
result

ValueError: invalid literal for int() with base 10: '10.5'

# **QUESTIONS**

## **1. Write a program that:**

#### Prompts the user to enter any value.
#### Prints the value and its data type.
#### Tries converting the value into an integer, float, and boolean,
#### then prints the converted values and their types.

In [ ]:
user_input = input("Enter any value: ")
print(user_input)
print(type(user_input))


user_input_i = int(input("Enter any value: "))
print(user_input_i)
print(type(user_input_i))


user_input_f = float(input("Enter any value: "))
print(user_input_f)
print(type(user_input_f))


user_input_b = bool(input("Enter any value: "))
print(user_input_b)
print(type(user_input_b))

Enter any value: str
str
<class 'str'>
Enter any value: 78
78
<class 'int'>
Enter any value: 78.0
78.0
<class 'float'>
Enter any value: 89
True
<class 'bool'>

### 2. Write a program that:
####  Asks the user to enter the names of three items they want to
####  buy (one at a time).
####  Stores the items in variables.
####  Prints a formatted list of the items the user entered.

In [ ]:
enter_names1 = input("enter the name of 1st item u want to buy : ")
enter_names2 = input("enter the name of 2nd item u want to buy : ")
enter_names3 = input("enter the name of 3rd item u want to buy : ")
print(f"names of 3 items u want to buy {enter_names1},{enter_names2},{enter_names3}")

enter the name of 1st item u want to buy : 1
enter the name of 2nd item u want to buy : 2
enter the name of 3rd item u want to buy : 3
names of 3 items u want to buy 1,2,3

### 3. Write a program that swaps the values of two variables

In [ ]:
a =10
b= 20
c =a+b
a = c -a
print(a)
b = c -b
print(b)

20
10

In [ ]:
a =10
b= 20
c =a
a =b
print(a)
b = c
b

20

10

1. Take base and height from user input. Write a Python function that calculates the area of a triangle
2. Write a Python program to calculate the total cost of n items where the cost of each item is p. Apply a 10% discount on the total cost and display the discounted amount.(take n,p as user_input)
3. Write a program to swap two without using a third variable or without using (a,b = b,a)

In [ ]:
height = float(input("enter height of traingle : "))
base = float(input("enter base of traingle : "))
area = .5*base*height
print(f"area of traingle is {area}")

enter height of traingle : 12
enter base of traingle : .90
area of traingle is 5.4

In [ ]:
number_of_items = int(input("enter number of items : "))
price_of_each_item = float(input("enter price of each item : "))
total_cost = number_of_items*price_of_each_item
discounted_price = total_cost - (total_cost *.1)
print(f"total cost is {total_cost} and discounted price is {discounted_price}")

enter number of items : 5
enter price of each item : 10
total cost is 50.0 and discounted price is 45.0

In [ ]:
a =20
b =10
a =a+b
b = a-b
a = a-b
print(f"a = {a} and b = {b}")

a = 10 and b = 20

### print

In [ ]:
name = "shivani"
age = 23
print("my name is",name,"and age is",age)
print("my name is {} and age is {}".format(name,age))
print(f"my name is {name} and age is {age}")

my name is shivani and age is 23
my name is shivani and age is 23
my name is shivani and age is 23