<a href="https://colab.research.google.com/github/ShiviRaghu/boss/blob/practice/pract2_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**
1.Reserved words in Python
2. User input
3. type casting | type conversion
4. Memory block
5. Operators
6. Binary conversion
**

## Reserved words in Python

https://docs.python.org/2.5/ref/keywords.html

1. We should not use reserved words as variable names
2. Also python doesn't restrict the user to use reserved keywords as variable names

and       del       from      not       while    
as        elif      global    or        with     
assert    else      if        pass      yield    
break     except    import    print              
class     exec      in        raise              
continue  finally   is        return             
 def       for       lambda    try

In [ ]:
print = "hi"
type(print)
##print(print)

#print("hi")

str

In [ ]:
del print  ##del --to retrieve print or use restart

In [ ]:
import keyword
reserved_words = keyword.kwlist
print(reserved_words)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## User input

user takes in form of string therefore we need to convert to int etc

In [ ]:
date = input("enter today's date : ")
day = input("todays day : ")
print(f"today's date is {date} and day is {day}")

enter today's date : 2024-12-11
todays day : wed
today's date is 2024-12-11 and day is wed

In [ ]:
a ,b = input(" value of a = ") , input("value of b = ")
print(f"sum of a + b = {a + b}")
print(type(a),type(b))

 value of a = 233
value of b = shj
sum of a + b = 233shj
<class 'str'> <class 'str'>

In [ ]:
name,offc,age = input("enter ur name : "),input("enter ur ofc address : "),input("enter ur age : ")
print (f"""my name is {name}
my ofc address is {offc}
my age is {age}""")

enter ur name : iok90
enter ur ofc address : 98^&(
enter ur age : 90opl;[]
my name is iok90
my ofc address is 98^&(
my age is 90opl;[]

## Explicit casting |type casting | type conversion

In [ ]:
a = int(input ("enter num a "))
b = int(input("enter num b "))
print(type(a),type(b))
print (f"sum of num is {a+b}")

enter num a 10
enter num b 10.00

ValueError: invalid literal for int() with base 10: '10.00'

In [ ]:
a = int(input("enter value of "))
type(a)

enter value of 00

int

In [ ]:
a = float(input ("enter num a "))
b = int(input("enter num b "))
print(type(a),type(b))
print (f"sum of num is {a+b}")

enter num a 10.00
enter num b 90
<class 'float'> <class 'int'>
sum of num is 100.0

In [ ]:
a = int(input("enter value of a = "))
b = int(input ("enter value of b = "))
print(f"sum of a + b = {a+b}")

enter value of a = 1
enter value of b = 2
sum of a + b = 3

### String ----> to integer, float====only numbers

In [ ]:
### String ----> to integer====only numbers
A = "100"
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 100
data type after: <class 'int'>, value of A: 100

In [ ]:
### String ----> to integer
A = "abc"
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: abc

ValueError: ignored

In [ ]:
# String==in form of float to integer=====not possible
A = "50.23"
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50.23

ValueError: invalid literal for int() with base 10: '50.23'

### Float to integer
### integer to float
### integer/float to boolean
###integer to boolean===for zero value will give you false
###empty String to boolean=====false value

In [ ]:
# Float to integer
A = 13.34234
print(f"data type before {type(A)}, value of a : {A} ")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before <class 'float'>, value of a : 13.34234
data type after: <class 'int'>, value of A: 13

In [ ]:
# integer to float
A = 50
print(f"data type before: {type(A)}, value of A: {A}")
A = float(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: 50
data type after: <class 'float'>, value of A: 50.0

In [ ]:
# integer to boolean
A = 50.90
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'float'>, value of A: 50.9
data type after: <class 'bool'>, value of A: True

In [ ]:
##integer to boolean===for zero value will give you false
A = 0.00
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'float'>, value of A: 0.0
data type after: <class 'bool'>, value of A: False

In [ ]:
##integer to boolean
A = -7890
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'int'>, value of A: -7890
data type after: <class 'bool'>, value of A: True

In [ ]:
##String to boolean
A = "ada"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: ada
data type after: <class 'bool'>, value of A: True

In [ ]:
##String to boolean
A = "True"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: True
data type after: <class 'bool'>, value of A: True

In [ ]:
##String to boolean
A = "123"
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 123
data type after: <class 'bool'>, value of A: True

In [ ]:
##empty String to boolean=====false value
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = bool(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A:
data type after: <class 'bool'>, value of A: False

In [ ]:
##empty String to int=====false value
A = ""
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

NOTE: Converting any non zero number and string values into boolean will give True as an answer

NOTE: Empty string "" and 00 int will give False as an answer after converting from string to boolean

In [ ]:
##float to int
A = 1.234
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'float'>, value of A: 1.234
data type after: <class 'int'>, value of A: 1

In [ ]:
name,city,dob =input("name : "),input("city: "),input("dob: ")
age = 2023 - int(dob)
print(f"""my name is {name}
my city is {age}
my age is {city}
my current age is : {age} """)

name : shi
city: sfsd
dob: 1997
my name is shi
my city is 26
my age is sfsd
my current age is : 26

In [ ]:
a = input("value of a = ")
b = input ("value of b = ")
print(f"sum a + b =  {int(a) + int (b)}" )

value of a = 12
value of b = 123
sum a + b =  135

## memory block

In [ ]:
a =23
b =1324
c = 23
print(id(a))
print(id(b))
print(id(c))

140209328309168
140208900116400
140209328309168

## Equality operators

Operator | uses | Meaning
- | - | -
is | A is B=> | return True if A and B points to the same object== same memory
is not | A is not B | returns True if A and B do not points to the same object
== | A == B | A is equal to B
!= | A != B | A is not equal to B

When using `is` then we are also comparing memory location
When using `is not` then we are also comparing memory location

== and != is only checking value of the variables [Used more offently or frequently]

In [ ]:
a =1
b = 1
print(id(a),id(b))
if a is b:
  print("points to same location")
else:
  print("points to diff location")

134067314999536 134067314999536
points to same location

In [ ]:
a =1
b =input("value of b = ")
print(type(b))
print(a is b)
b =int(input("value of b = "))
print(type(a),type(b))
print (id(a),id(b))
a is b

value of b = 1
<class 'str'>
False
value of b = 2
<class 'int'> <class 'int'>
134067314999536 134067314999568

False

In [ ]:
a =1
b =1
if a == b:
  print("points to same value")
else:
  print("points to diff value")

points to same value

In [ ]:
a =[1,2,34]   ###python array is known as list  ##and they have diff location in python
b =[1,2,34]
print(id(a))
print(id(b))
print(a is b)
a==b

134066030935040
134066030913408
False

True

### Try to understand the following examples and answer the question based on it -
    
**Arithmatic Operators**

|Operation|Meaning|
|:-:|:-:|
| **+** |addition|
| **-** |subtraction|
| **\*** |multiplication|
| **/** |true division|
| **//** |integer division|
| **%** |the modulo operator|


Here `+`, `-`, `*`, `/` are regular arithmatic operators. Lets look at the `//` and `%` operators

Usecase or examples -
    
```python
var_a = 5
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/5=5

```python
var_a = 3
var_b = 25
integer_division = var_b // var_a
print(f"integer division: {var_b}/{var_a}={integer_division}")
```

OUTPUT: integer division: 25/3=8

```python
var_a = 5
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/5 is 0

```python
var_a = 3
var_b = 25
remainder = var_b % var_a
print(f"remainder: {var_b}/{var_a} is {remainder}")
```

OUTPUT: remainder: 25/3 is 1

In [ ]:
var_a = 5
var_b = 23
integer_division = var_b // var_a
float_devision = var_b / var_a
remainder = var_b % var_a
print(f"integer division: {var_b}//{var_a}={integer_division}")
print(f"float division: {var_b}/{var_a}={float_devision}")
print(f"remainder division: {var_b}%{var_a}={remainder}")
print (type(integer_division))
print (type(float_devision))
print (type(remainder))

integer division: 23//5=4
float division: 23/5=4.6
remainder division: 23%5=3
<class 'int'>
<class 'float'>
<class 'int'>

### Comparision

Operation | Meaning
- | -
< | A < B
<= | A <= B
> | A > B
>= | A >= B

In [1]:
a =5
b =10/2
print(type(a),type(b))
print(a==b)
print(a is b)
print("--------")
a =5
b =int(10/2)
print(type(a),type(b))
print(a==b)
print(a is b)

<class 'int'> <class 'float'>
True
False
--------
<class 'int'> <class 'int'>
True
True